*{
    margin: 0;
    padding: 0;
}

#root{
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-image: url("../../public/img/backImage1.jpg");
    background-position: 100% 100%;
}

.boardComponent{
    display: flex;
    width: 1250px;
    height: 800px;
    flex-wrap: wrap;
}

.testing{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}

.board{
    width: 800px;
    height: 800px;
    background-color: darkorange;
    display: flex;
    flex-wrap: wrap;
}

.board-left{
    height: 790px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    //border-right: none;

    background-color: snow;
}

.whiteMoveFlagIS0{
    visibility: visible;
}

.whiteMoveFlagIS1{
    visibility: hidden;
}

.whiteMoveFlagIS2{
    visibility: hidden;
}

.board-left-tile{
    height: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    box-sizing: border-box;
    border-bottom: 3px solid;

    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: bold;
}

.board-bottom-corner{
    width: 30px;
    box-sizing: border-box;
    border: 5px solid;
    border-color: darkgray;
    background-color: black;
}

.board-bottom{
    width: 804px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    margin-top: 0;
    box-sizing: border-box;
    border: 5px solid transparent;
    //border-tope: none;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;

    background-color: snow;
}

.board-bottom-tile{
    width: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;

    box-sizing: border-box;
    border-left: 3px solid;
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: bold;
}



.Tile{
    width: 12.5%;
    height: 12.5%;
}

.markedRook{
    box-sizing: border-box;
    border: 5px solid greenyellow;
}

.markedQueen{
    box-sizing: border-box;
    border: 5px solid greenyellow;
}

.rookAttackZone{
    box-sizing: border-box;
    border-top: 5px solid;
    border-top-color: black;
}

.firstRookMoveZone{
    box-sizing: border-box;
    border-left: 5px solid;
    border-left-color: blue;
}

.secondRookMoveZone{
    box-sizing: border-box;
    border-right: 5px solid;
    border-right-color: deeppink;
}

.queenMoveZone{
    box-sizing: border-box;
    border-bottom: 5px solid;
    border-bottom-color: greenyellow;
}

.obstacle{
    //box-sizing: border-box;
    //border: 5px solid black;
}


