*{
    margin: 0;
    padding: 0;

    font-family: "Comic Sans MS";
}

#root{
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: darkgray;
    //background-image: url("../../public/img/backImage1.jpg");
    //background-position: 100% 100%;
}

.boardComponent{
    display: flex;
    width: 1250px;
    height: 800px;
    flex-wrap: wrap;
}

.testing{
    width: 400px;
    height: 500px;
    background-color: aquamarine;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board{
    width: 800px;
    height: 800px;
    background-color: darkorange;
    display: flex;
    flex-wrap: wrap;
}

.board-left{
    height: 790px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    //border-right: none;

    background-color: snow;
}

.whiteMoveFlagIS0{
    visibility: visible;
}

.whiteMoveFlagIS1{
    visibility: hidden;
}

.whiteMoveFlagIS2{
    visibility: hidden;
}

.board-left-tile{
    height: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    box-sizing: border-box;
    border-bottom: 3px solid;

    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: bold;
}

.board-bottom-corner{
    width: 30px;
    box-sizing: border-box;
    border: 5px solid;
    border-color: darkgray;
    background-color: black;
}

.board-bottom{
    width: 804px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    margin-top: 0;
    box-sizing: border-box;
    border: 5px solid transparent;
    //border-tope: none;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;

    background-color: snow;
}

.board-bottom-tile{
    width: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;

    box-sizing: border-box;
    border-left: 3px solid;
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: bold;
}



.Tile{
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.markedRook{
    box-sizing: border-box;
    border: 5px solid greenyellow;
}

.markedQueen{
    box-sizing: border-box;
    border: 5px solid greenyellow;
}

.rookAttackZone{
    box-sizing: border-box;
    border-top: 5px solid;
    border-top-color: black;
}

.firstRookMoveZone{
    box-sizing: border-box;
    border-left: 5px solid;
    border-left-color: blue;
}

.secondRookMoveZone{
    box-sizing: border-box;
    border-right: 5px solid;
    border-right-color: deeppink;
}

.queenMoveZone{
    box-sizing: border-box;
    border-bottom: 5px solid;
    border-bottom-color: greenyellow;
}

.obstacle{
    //box-sizing: border-box;
    //border: 5px solid black;
}

.whiteMoveFlag{
    text-align: center;
    color: white;

    width: 100%;

    text-shadow: 1px 1px 1px darkgray, 2px 2px 1px darkgray;
}

.inGameBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
    justify-content: center;
}

.computerMoveBtn{
    align-self: flex-end;
}

.endBlock{
    text-align: center;
}

.moveCount{
    font-size: 150%;
}

.obstaclesBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    background-color:#b8e356;
    border-radius:6px;
    border:1px solid #83c41a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #86ae47;
}
.btn:hover {
    background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
    background-color:#a5cc52;
}
.btn:active {
    position:relative;
    top:1px;
}




